tbody{
    border-radius: 18px;
    
    margin: 5px;
    font-size: small;
}

.tituloTabla{
    background-color: rgb(168, 168, 151);
}
th, td{
    text-align: left;
    border-bottom: 2px solid rgb(124, 124, 124);
    color: black;
}
td{
    border-bottom: 1px dotted rgb(87, 87, 87);
    padding: 0%;
}

.btn-edit{
    background-color: transparent;
    border-color: transparent;
}
.btn-edit:hover{
    color: rgb(2, 105, 8);
}

.barcode{
    background-color: transparent;
    border-color: transparent;
    margin-left: 3px;
    margin-right: 2px;
}
.celda{
    background-color: transparent;
    border-color: transparent; 
    padding: 0%;
}
.ventana{
    background-color: rgb(0, 0, 0);
}
tr{
    padding: none;
}

.button-content{
    background-color: rgb(168, 168, 151);
    text-align: right;
    padding: 10px;
}

.fila{
    border-bottom: solid 1px rgb(190, 190, 190);
    display: flex;
    color: white;
    margin: 0;
}

.fila:hover{
    background-color: rgb(34, 34, 34);
    border-left: solid 5px rgb(5, 247, 114);
}
.filaDerecha{
    justify-content: right;
    width: 20%;
}
.filaDerecha:hover{
    background-color: rgb(5, 247, 114);
    color: black;
}

.filaIzquierda{
    justify-content: left;
    width: 80%;
}

.containerEmail{
    display: flex;
}

.rucTexto{
    color: rgb(163, 163, 163);
}

.detalle{
    border-left: solid 10px black;
    background-color: rgb(34, 34, 34);
    width: 75%;
}
.ladoIzquierdo{
    overflow: auto;
    width: 25%;
    height: 50%;
    background-color: rgb(59, 59, 59);
}
.barraHerramientas{
    display: flex;
    background-color: rgb(31, 30, 30);
    color: rgb(58, 58, 58);
    border: solid 1px;
    border-color: darkgrey;
    height: 10%;
}
.herramienta{
    border-left: solid 0.5px rgb(190, 190, 190);
    height: 30px;
    color: aliceblue;
}
.herramienta:hover{
    background-color: darkgray;
}
