

tbody{
    border-radius: 18px;
   
    margin: 5px;
}
table{
    
    border-collapse: collapse;
    width: 100%;
    margin: 5px solid red;
    
}
th{
    background-color: rgb(168, 168, 151);
}


.btn-edit{
    background-color: transparent;
    border-color: transparent;
}
.btn-edit:hover{
    color: rgb(239, 5, 247);

}

.btn-delete{
    background-color: transparent;
    border-color: transparent;
}

.barcode{
    background-color: transparent;
    border-color: transparent;
    margin-left: 3px;
    margin-right: 2px;
}

.barcode:hover{
  background-color: white;
  color: blue;
  

}

.btn-delete:hover{
    color: red;

}
.celda{
    background-color: transparent;
    border-color: transparent; 
    padding: 0%;
}


/*tr:nth-child(even){background-color: rgb(228, 226, 226);}*/




section{
    width: 100%;
    display: flex;
}
.izquierda{
    width: 60%;
}


#cajaOpciones{
    display: flex;
    align-items: end;
}
.button-content{
    background-color: white;
    height: 60px;
    width: 60px;
    border-color: solid 3px  black;
}


#tblDetalle{
    
    width: 100%;
}

.divSuperior{
    height: 75px;
    
    background-color: white;
    display: flex;
    align-items: center;
    padding: 6px;
}
.divMedio{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: white;
}

#qr{
    width: 60%;
    height: 56px;
    background-color: white;
}
#nombreDoc{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 40%;
    height: 56px;
    background-color: white;
    border: solid 1px black;
}
#nombreDoc .divTicket{
    text-align: center;
    width: 100%;
}
.divFecha{
    width: 40%;
    background-color: rgb(252, 252, 252);
    padding-left: 53px;
}
.divImput{
    width: 60%;
}
