.grupo1 {

    display: flex;
    margin: 0px;
    padding: 0px 0px 0px 1px;

}

.form {
    
    padding: 0px 0px 0px 1px;
    margin: 10px 0px 2px 0px;

}

.form2 {
    display: flex;
    padding: 0px 0px 0px 1px;
    margin: 10px 0px 6px 0px;
}

.tabla {
    margin-top: 10px;
    width: 100%;
}

.logo {
    /*caja logo*/
    width: 45%;
    vertical-align: top;
}

.contacto {
    font-size: 8px;
    text-align: right;
    margin: 14px 10px 0px 0px;
    width: 25%;
}

.cajita1 {
    /*caja inputs*/
    border-radius: 6px;
    border: solid 1px rgb(209, 209, 209);
    width: 75%;
    display: flex;
    height: 100px;
}

.cajita1b {
    /*caja inputs*/
    border-radius: 6px;
    border: solid 1px rgb(209, 209, 209);
    width: 70%;
    height: auto;
}

.cajita2 {
    /*caja cotizacion*/
    display: block;
    text-align: center;
    background-color: rgb(238, 237, 237);
    border-radius: 6px;
    border: solid 1px rgb(168, 168, 151);
    width: 30%;

}

h1 {
    font-size: 14px;

}

.cajita4 {
    /*caja fecha*/
    padding: 2px;
    width: 70%;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 6px;
    margin: 0px 0px 0px 0px;
}

.cajita1_1 {
    
    border-radius: 6px;
    border: solid 1px rgb(209, 209, 209);
    height: 85px;
    padding: 0px 0px 0px 2px;
    margin: 0px 0px 4px 0px;
}

.cajita1_1 label{
    width: 20%;
}

.cajita1_1 input{
    width: 80%;
}

.cajita1_3 {
    flex: 8;
}

.tabla td {
    font-size: 16px;
    
    padding-left: 2px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px dotted rgb(87, 87, 87);
}

.tabla2 td {
    font-size: 12px;
    padding-left: 2px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px dotted rgb(87, 87, 87);
}


.btn-stock {
    background-color: transparent;
    border-color: transparent;
}

.btn-stock:hover {
    color: rgb(4, 228, 53);
}

.btn-delete {
    background-color: transparent;
    border-color: transparent;
}

.btn-delete:hover {
    color: red;
}

.celda {
    background-color: transparent;
    border-color: transparent;
    padding-left: 10px;
    width: 90%;
    background-color: transparent;
    font-size: 12px;
}

.ventana {
    background-color: rgb(254, 255, 241)
}

.tabla tr {
    border: 0px;
    margin: none;
    padding: none;
}

.tabla tr:nth-child(even) {
    background-color: rgb(228, 226, 226);
}

/*tr:hover{
            background-color: rgb(228, 164, 253);
        }*/

.button-content {
    border: solid 1px rgb(168, 168, 168);
    border-radius: 20px;
    margin: 10px;
}

input {

    white-space: nowrap;
    /*elimina espacios en blanco contenid se ajusta celda*/
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    width: auto;

}

.cantidad {
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.cantidad2 {
    margin: 0px;
    padding: 0px;
    width: 50px;
}



.total {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}

.tabla thead {
    background-color: rgb(168, 168, 168);
    border-top: 2px solid;
    border-bottom:solid 1px rgb(99, 97, 97); 

}

.tabla tfoot {
    vertical-align: middle;
    border-radius: 3px;
    border-top: solid 2px rgb(0, 0, 0);
}

.celda-cotizacion {
    width: 100%;
    text-align: center;
}

#celda_total {
    font-size: 20px;
}

.entradaDato {
    border: solid 1px;
    display: flex;
}



.tabla th {
    margin-right: 8px;
}



.ventana {
    background-color: rgb(0, 0, 0);
}

.tabla tr {
    padding: 0px;
    margin: 0px;
}

.button-content {
    background-color: rgb(228, 226, 226);
    text-align: right;
    padding: 10px;
}

.fila {
    border-bottom: solid 1px rgb(190, 190, 190);
    display: flex;
    color: white;
    margin: 0;
}

.fila:hover {
    background-color: rgb(34, 34, 34);
    border-left: solid 5px rgb(5, 247, 114);
}

.filaDerecha {
    justify-content: right;
    width: 20%;
}

.filaDerecha:hover {
    background-color: rgb(5, 247, 114);
    color: black;
}

.filaIzquierda {
    justify-content: left;
    width: 80%;
}

.rucTexto {
    color: rgb(163, 163, 163);
}

.detalle {
    border-left: solid 10px black;
    background-color: rgb(34, 34, 34);
    width: 75%;
}

.ladoIzquierdo {
    overflow: auto;
    background-color: rgb(59, 59, 59);
}

.row2 {
    display: flex;
}

.etiqueta {
    display: flex;
}
.form-control{
    margin: 0px;
    padding: 0px 0px 0px 2px;
    vertical-align: middle;
}


.cajaEnvio{
    /*border-top: 2px dashed ;*/
    /*border-top: 2px double ;*/
    /*border-top:groove;*/
    /*border-top:ridge;*/
    border-top:2px dashed;
    vertical-align: middle;
    font-size: 16px;
    display: flex;

}
/*barra de progreso*/
.progress-nuevo {
    width: 1%;
    font-size: 10px;
    height: 5px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(1, 184, 32);
}
.progress-enviado {
    width: 1%;
    height: 6px;
    text-align: center;
    border-radius: 5px;
    background-color: orange;
}
.progress-cancelado {
    width: 1%;
    font-size: 10px;
    height: 6px;
    text-align: center;
    margin-top: 1PX;
    border-radius: 6px;
    background-color: rgb(206, 206, 206);
}

.progress-adelantado {
    width: 1%;
    font-size: 10px;
    height: 6px;
    text-align: center;
    
    border-radius: 6px;
    background-color: blue;
}

.progress-pendiente {
    width: 1%;
    font-size: 10px;
    height: 6px;
    text-align: center;
    
    border-radius: 6px;
    background-color: rgb(255, 0, 0);
}

.progress-retrazado {
    width: 1%;
    font-size: 10px;
    height: 6px;
    text-align: center;
    
    border-radius: 6px;
    background-color: brown;
}

.progress-problemas {
    width: 1%;
    font-size: 10px;
    height: 6px;
    text-align: center;
    
    border-radius: 6px;
    background-color: rgb(61, 7, 7);
}


