@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

h3{
    margin: flex;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*{
    margin: 0px;
    padding: 0px;

}

.container{
    --color:#01af5e;
    --color2:#affdd9;
    height: 30px;
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: right;
    font-family: "Varela Round",sans-serif;
    border: 2px solid var(--color);
    border-radius:0px;
    padding: 2px;
}

.item{
    color: white;
    font-size: 0.8em;
    align-items: center;
    height: 28px;
    width: 25%;
    margin: 0px;
    background-color: var(--color);
    border-radius: 0px 0px 0px 0px;
    /*border: solid 1px black;*/
    padding: 0px;
    position: relative;
    cursor: pointer;
}
.item-inicio{
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    align-items: center;
    height: 28px;
    width: 25%;
    margin: 0px;
    background-color: var(--color);
    border-radius: 0px 0px 0px 0px;
    /*border: solid 1px black;*/
    padding: 0px;
    position: relative;
    cursor: pointer;
}

.item::after{
    content: "";
    position: absolute;
    top: 0px;
    left: -1px;
    z-index: 3;
    height: 20px;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent transparent transparent var(--color);
    border-width: 14px;
    padding: 0px;
}

.item::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 1px;
    z-index: 2;
    height: 20px;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent transparent transparent white;
    border-width: 14px;
    padding: 0px;
}




/*

.item:nth-child(2){
    --color:#813085;
}

.item:nth-child(3){
    --color:#119630;
}
*/

.layer{
    background-color: transparent;
    border-radius: inherit;
    width: 100%;
    position: relative;
    left: 20px;
    transition: left 1s;
}
h3{
    font-size: 1em;
    height: 20px;
    margin: 2px;

    padding-left: 2px;
    color: #fff;
}
h4{
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}

span{
    background-color: var(--color);
    --color-sombra:#0000002c;
    /*display: none;*/
    left: 10%;
    position: absolute;
    transition: left 1s;
    text-align: center;
}


.item:hover span{
    left: 60px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    /*background-color: aquamarine;*/
    /*display: grid;*/
    /*place-content:center;*/
    box-shadow: 
    var(--color-sombra) 0px 1px 2px,
    var(--color-sombra) 0px 2px 4px,
    var(--color-sombra) 0px 4px 8px,
    var(--color-sombra) 0px 8px 16px,
    var(--color-sombra) 0px 16px 32px,
    var(--color-sombra) 0px 32px 64px;
    font-size: 14px;
    bottom: 5px;
}
/*
i:hover{
    color: blueviolet;
}
*/

/*
.item::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent transparent transparent white;
    border-width: 18px 18px 18px 18px;
}

.item::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 96px;
    z-index: 3;
    height: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent transparent transparent var(--color);
    border-width: 18px 18px 18px 18px;
}

.item::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent transparent transparent white;
    border-width: 18px 18px 18px 18px;
}
*/
/*
element.style {
    padding: 5px 10px;
    background-color: white;
    z-index: 1040;
}
@media (min-width: 768px) {
    .navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
        border-radius: 0;
    }
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before, input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    letter-spacing: 0.1px;
    padding-top: 50px;
    font-weight: 400;
}
body {
    letter-spacing: .1px;
    padding-top: 50px;
    font-weight: 400;
}
body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.popover, .tooltip, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before, input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*, :after, :before, input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*/

.cajita{
    background-color: blueviolet;
    width: 200px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.cajita::after{
    content: "Elizito";
    background-color: coral;
    border: solid 1px black;
    width: 50px;
    height: 50px;
}

.cajita::before{
    content: "Hola";
    background-color: rgb(255, 80, 133);
    width: 50px;
    height: 50px;
}
