@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');
/*Barra de navegacion*/



form{
    background-color: rgb(130, 128, 161);
    color: white;
}
.fecha{
    width: 24mm;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr:hover{background-color: rgb(130, 128, 161);}
tr:nth-child(even){background-color: rgb(200, 200, 200);}
td{
    border-bottom: 1px solid rgb(4, 1, 48);
    padding: 5px;
    color: #230438;
    line-height:50% ;
    font-size:small;
}
th{
    background-color: rgb(130, 128, 161);
    color: white;
    font-size: medium;
    height: 7mm;
}
.pie_tabla{
    background-color: rgb(130, 128, 161)  ;
    font-size: larger;
    color: white;
}
.titulo_form{
    justify-content: space-between;
}
footer{
    background-color: rgb(130, 128, 161);
    position: fixed ;
    color: white;
}