div{
    background-color: #03292b;
    font-size: small;
    border: 1.8px solid rgb(4, 1, 48);
    line-height:40%
}

form{
    background-color: rgb(4, 1, 48);
}

.caja{
    background-color: #00b8c2;
}
p{
    color: #95faff;
    line-height:20%
}
h3{
    color: #95faff;
    line-height:20%
}