@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/*@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');*/
/*Barra de navegacion*/

section{
    margin: 4px;
}

.grupo1{
    height: 75px;
    display: flex;
    width: 100%;
}

#formulario{
        height: auto;
        display: flex;
        height: 95px;
        margin-top: 15px;
}

.tabla{
    margin-top: 6px;
    width: 100%;
}
    .logo{/*caja logo*/
        width:75%;
        vertical-align:top;
    }
    .cajita1{/*caja inputs*/
        border-radius: 6px;
    
        border: solid 1px rgb(209, 209, 209);
        width: 75%;
        display: flex;
        height: 100%;
        
    }
    .cajita2{/*caja cotizacion*/
        text-align: center;
        background-color: rgb(238, 237, 237);
        border-radius: 6px;
        border: solid 1px rgb(168, 168, 151);
        width: 25%;
    }
    .cajita4{/*caja fecha*/
        padding: 4px;
        display: flex;
        height: 100%;
        width: 25%;
        margin-left: 10px;
        border: solid 1px rgb(209, 209, 209);
        border-radius: 6px;
    }

    td{
        text-align: left;
        padding: 0px;
        vertical-align:middle;
        white-space: nowrap;
    }
    .btn-stock {
        background-color: transparent;
        border-color: transparent;
    }
    .btn-stock:hover{
        color: rgb(4, 228, 53);
    }

        .btn-delete{
            background-color: transparent;
            border-color: transparent;
        }
        .btn-delete:hover{
            color: red;
        }
        .celda{
            background-color: transparent;
            border-color: transparent; 
            padding-left: 10px;
            width: 100%;
            background-color: transparent;
        }

        .ventana{
            background-color: rgb(254, 255, 241)
        }
        tr{
            border: 0px;
            padding: none;
        }
        tr:nth-child(even){background-color: rgb(228, 226, 226);}
        /*tr:hover{
            background-color: rgb(228, 164, 253);
        }*/
        
        .button-content{
            border: solid 1px rgb(209, 209, 209);
            border-radius: 6px;
            text-align: right;
            padding: 10px;
        }

        input{
            width: 114px;
            white-space: nowrap;/*elimina espacios en blanco contenid se ajusta celda*/
            border-color: transparent;
            background-color: transparent;
        }
    .semaforo-rojo{
        background-color: red;
    }
        .semaforo-ambar{
          background-color: gold;
        }
        .semaforo-verde{
          background-color: chartreuse;
        }


        H1{
          text-align: center;
        }
.total{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

tfoot{
    border-radius: 6px;
    border: solid 2px rgb(97, 97, 97);
}
thead{
    background-color: rgb(173, 173, 173);
        border-radius: 6px;
        
}

.cajita1_1{
    flex: 1.5;
}
.cajita1_3{
    flex: 8;
}
p{
    margin-right: 10px;
    text-align: right;
}
label{
    width: 100%;
}

.celda-cotizacion{
    text-align: center;
}

#celda_total{
    font-size: 20px;
}

