html {
    font-size: 62.5%;
}
body {
    background-color: #f5f3f3
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
}
@media (min-width: 750px) {
    header {
        text-align: left;
    }
}
.borrar-curso {
    padding: 2px;
    color: red;
    font-size: 20px;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../img/hero.jpg);
    height: 350px;
    background-size: cover;
}
#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: rgb(250, 239, 255);
    padding: 6px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.barra {
    padding: 20px 0;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin:0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}
.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-cursos .row {
    display: flex;
    margin-bottom:20px;
}
.agregar-carrito {
    margin:10px 0;
}

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}


.footer {
    margin-top: 40px;
    border-top:1px solid #aaa;;
    padding-top: 40px;   
}
.footer .menu a{
display: block;
margin-bottom: 10px;
text-decoration: none;
}

/* contador de item del carrito
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.circulo-carrito{
    position: absolute ;
    width: 20px;
    height: 20px;
    align-items: center;
    background-color: red;
    top: -7px;
    right: 46%;
    border-radius: 50%;
    color: white;
}

.box{
    padding: 0px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    border-radius: 16px;
    border: 2px solid #d1d1d1;
    }


.box .button_inc .button_dec{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.box .button_inc:active{
    background: #ccc;
}
.box .button_dec:active{
    background: #ccc;
}
.box input{
    width: 30px;
    height: 20px;
    font-size: 14px;
    margin: 0 2px;
    border-color: transparent;
    background: transparent;
    color: #8f8f8f;
    padding: 0px;
}

.box .button_inc{
    border-left: 2px solid #d1d1d1;
    padding-right: 10px;
   padding-left: 10px;
    font-size: 20px;
    font-weight: 800px;
    color: #8f8f8f;
}
.box .button_dec{
    border-right: 2px solid #d1d1d1;
    font-size: 20px;
   padding-right: 10px;
   padding-left: 10px;
    font-weight: 800px;
    color: #8f8f8f;
    
}
td{
    padding: 2px;
    }
.importe-total{
    font-size: 35px;
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
    
}
